@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<div class="container mt-4">
    <h1 class="mb-3">Danh sách sản phẩm</h1>
    <ul class="list-group">
        <li class="list-group-item">👕 Áo</li>
        <li class="list-group-item">👖 Quần</li>
        <li class="list-group-item">👜 Nịt</li>
        <li class="list-group-item">👟 Giày</li>
        <li class="list-group-item">🩴 Dép</li>
    </ul>
</div>
